.containerApp {
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 5px;

}

.ContainerWelcome {

  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;


}